In [1]:
import pandas as pd

In [16]:
school_data_to_load =  "C:/Users/User/School.csv"
student_data_to_load = "C:/Users/User/Student.csv"

In [17]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

NameError: name 'pd' is not defined

In [18]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

NameError: name 'pd' is not defined

In [66]:
total_numbers_schools= school_data_complete["School ID"].nunique()
Total_students= school_data_complete["Student ID"].count()
total_budget= school_data_complete["budget"].unique().sum()
Average_Math_score= (school_data_complete["math_score"]).mean()
Average_Reading_score= (school_data_complete["reading_score"]).mean()
Total_Passing_rate= (Average_Math_score+Average_Reading_score)/2
Passing_Math=(school_data_complete['math_score'].loc[school_data_complete["math_score"]>=70].count()/Total_students)*100
Passing_Reading= (school_data_complete["reading_score"].loc[school_data_complete["reading_score"]>=70].count()/Total_students)*100

In [12]:
Distirict_Summary = pd.DataFrame({"Total Schools":[total_numbers_schools],
                           "Total Students":[Total_students], 
                           "Total Budget": [total_budget], 
                           "Average Math Score": [Average_Math_score] ,
                                 "Average Reading Score":[Average_Reading_score],
                                 "%Passing Math":[Passing_Math],
                                  "%Passing Reading":[Passing_Reading],
                                  "%Overall Passing Rate":[Total_Passing_rate]})
Distirict_Summary.style.format({'Total Budget':"${:,.2f}"})

NameError: name 'pd' is not defined

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing_Reading,%Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [11]:
School_Summary= pd.DataFrame({School_Names=school_data_complete["school_name"],
School_ID= school_data_complete["School ID"],
Total_students= school_data_complete["Student ID"].count(),
total_budget= school_data_complete["budget"].unique().sum(),
Per_Student_Budget = (school_data_complete["budget"].unique().sum()/["Total_students"],
Average_Math_score= (school_data_complete["math_score"]).mean(),
Average_Reading_score= (school_data_complete["reading_score"]).mean(),
Total_Passing_rate= (Average_Math_score+Average_Reading_score)/2,
Passing_Math=(school_data_complete['math_score'].loc[school_data_complete["math_score"]>=70].count()/Total_students)*100,
Passing_Reading= (school_data_complete["reading_score"].loc[school_data_complete["reading_score"]>=70].count()/Total_students)*100]})



School_Summary.groupby("School_ID")

SyntaxError: invalid syntax (<ipython-input-11-cb82a6da8fa8>, line 1)

In [36]:
Top_School_Summary= School_Summary.sort_values(["%Overall Passing Rate"], ascending = False)
Top_School_Summary.head(5)

AttributeError: Cannot access callable attribute 'sort_values' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [37]:
Top_School_Summary= School_Summary.sort_values(["%Overall Passing Rate"], ascending = True)
Top_School_Summary.head(5)

AttributeError: Cannot access callable attribute 'sort_values' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [60]:
New_grade = school_data_complete.loc[school_data_complete["grade"].isin(["9th","10th","11th'","12th"])]
New_table= pd.DataFrames ({"School Name":school_data_complete["school_name"],["New_grade"]
                         "Math Score":school_data_complete[math_score]})



New_table.groupby("School Name")

SyntaxError: invalid syntax (<ipython-input-60-3ece1e2cde9b>, line 1)

In [40]:
New_table2= pd.DataFrames ({"School Name":school_data_complete["school_name"],["New_grade"]
                         "Reading Score":school_data_complete[reading_score]})
New_table2.groupby(School Name)

SyntaxError: invalid syntax (<ipython-input-40-570cc769d44b>, line 3)

In [41]:
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [42]:

binner_df = Distirict_Summary
binner_df["Spending Ranges Per Student"] = pd.cut(binner_df["Per Student Budget"], bins, labels=groups_names)
group_bin = binner_df.groupby(["Spending Ranges Per Student"])
group_bin.head()

NameError: name 'Distirict_Summary' is not defined

In [43]:
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [54]:
binner_df2 = Distirict_Summary
binner_df2["School Size"]= pd.cut(binner_df2["Total Students"], bins, labels=groups_names)
group_bin = binner_df2.groupby(["School Size"])
group_bin.head()

SyntaxError: invalid syntax (<ipython-input-54-f2b8a98ec814>, line 1)

In [59]:
School_type= Distirict_Summary.groupby("School Type")
School_type

39170

81.87784018381414